Index:
    Background: Build
    StandardLibrary: true
Diagnostics:
    ClangTidy:
        FastCheckFilter: Strict
    UnusedIncludes: Strict
Completion:
    AllScopes: Yes
    ArgumentLists: FullPlaceholders
    HeaderInsertion: Never
InlayHints:
    Enabled: true
    ParameterNames: true
    DeducedTypes: true
    BlockEnd: true
    Designators: true
    DefaultArguments: false
    TypeNameLimit: 24
Hover:
    ShowAKA: true
---
# linux armv7 config
If:
    PathMatch: .*/linux4.19/.*
CompileFlags:
    Add: [--target=armv7a-linux-gnueabi]
    Remove: [--target=armv7a-linux-gnueabi, -mabi=lp64]
