[submodule "color-theme-sanityinc-tomorrow"]
	path = packages/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "compat"]
	path = packages/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "swiper"]
	path = packages/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el.git
[submodule "evil-matchit"]
	path = packages/evil-matchit
	url = https://github.com/redguardtoo/evil-matchit.git
[submodule "flx"]
	path = packages/flx
	url = https://github.com/lewang/flx.git
[submodule "transient"]
	path = packages/transient
	url = https://github.com/magit/transient.git
[submodule "with-editor"]
	path = packages/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
    ignore = untracked
[submodule "highlight-indent-guides"]
	path = packages/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides.git
    ignore = untracked
[submodule "meow"]
	path = packages/meow
	url = https://github.com/norris-young/meow.git
[submodule "org-superstar-mode"]
	path = packages/org-superstar
	url = https://github.com/integral-dw/org-superstar-mode.git
[submodule "popup"]
	path = packages/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "posframe"]
	path = packages/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "emacs-rime"]
	path = packages/rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "shackle"]
	path = packages/shackle
	url = https://depp.brause.cc/shackle.git
    ignore = untracked
[submodule "smartparens"]
	path = packages/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "emacs-winum"]
	path = packages/winum
	url = https://github.com/norris-young/emacs-winum.git
[submodule "markdown-mode"]
	path = packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "yasnippet"]
	path = packages/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "lsp-bridge"]
	path = packages/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "citre"]
	path = packages/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "acm-terminal"]
	path = packages/acm-terminal
	url = https://github.com/twlz0ne/acm-terminal.git
[submodule "edebug-x"]
	path = packages/edebug-x
	url = https://github.com/norris-young/edebug-x.git
    ignore = untracked
[submodule "cnfonts"]
	path = packages/cnfonts
	url = https://github.com/tumashu/cnfonts.git
    ignore = untracked
[submodule "treesit-auto"]
	path = packages/treesit-auto
	url = https://github.com/renzmann/treesit-auto.git
[submodule "ts-fold"]
	path = packages/ts-fold
	url = https://github.com/emacs-tree-sitter/ts-fold.git
[submodule "s"]
	path = packages/s
	url = https://github.com/magnars/s.el.git
[submodule "fringe-helper"]
	path = packages/fringe-helper
	url = https://github.com/nschum/fringe-helper.el.git
[submodule "imenu-list"]
	path = packages/imenu-list
	url = https://github.com/bmag/imenu-list.git
    ignore = untracked
[submodule "dts-mode"]
	path = packages/dts-mode
	url = https://github.com/bgamari/dts-mode.git
    ignore = untracked
[submodule "lua-mode"]
	path = packages/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "yasnippet-snippets"]
	path = packages/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
    ignore = untracked
[submodule "which-key"]
	path = packages/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "packages/auto-sudoedit"]
	path = packages/auto-sudoedit
	url = https://github.com/ncaq/auto-sudoedit.git
[submodule "packages/f"]
	path = packages/f
	url = https://github.com/rejeep/f.el.git
[submodule "auto-compile"]
	path = packages/auto-compile
	url = https://github.com/emacscollective/auto-compile.git
[submodule "tramp"]
	path = packages/tramp
	url = https://git.savannah.gnu.org/git/tramp.git
[submodule "avy"]
	path = packages/avy
	url = https://github.com/abo-abo/avy.git
    ignore = untracked
[submodule "better-jumper"]
	path = packages/better-jumper
	url = https://github.com/gilbertw1/better-jumper.git
[submodule "pandoc-mode"]
	path = packages/pandoc-mode
	url = https://github.com/joostkremers/pandoc-mode.git
[submodule "hydra"]
	path = packages/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "emacs-popon"]
	path = packages/emacs-popon
	url = https://codeberg.org/akib/emacs-popon.git
